/*================================================================
Chrome/Firefox/Edge/Safariなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/

*,
::before,
::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
	list-style-type: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

/* 
    _function.scss ファイル
    それぞれ( )内にpxでの数値を入れるとrem, px, vw(pc版), vw(sp版) に変換 
    */

/*  scssへ記述  */

/*  scssへ記述  */

body {
	color: #393939;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.l-header {
	margin-inline: auto;
	position: fixed;
	top: 0;
	width: 100%;
}

.l-header__contact-wrapper {
	align-items: center;
	background: rgba(255, 255, 255, 0.85);
	bottom: 0;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	display: flex;
	height: 3.75rem;
	justify-content: space-around;
	left: 0;
	position: fixed;
	width: 100%;
}

.l-inner {
	margin-inline: auto;
	max-width: 1280px;
	padding-inline: 1.25rem;
	width: 100%;
}

.l-fv {
	margin-top: 3.75rem;
	width: 100%;
}

.c-hamburger {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
	height: inherit;
	justify-content: center;
}

.c-hamburger__bar {
	background: #1391e6;
	border-radius: 8px;
	display: block;
	height: 0.1875rem;
	transition: all 0.3s ease 0s;
	width: 1.75rem;
}

.c-hamburger__bar1-clicked,
.c-hamburger__bar2-clicked,
.c-hamburger__bar3-clicked {
	background: #ffffff;
}

.c-hamburger__bar1-clicked {
	transform: rotate(45deg) translateY(0.78125rem);
}

.c-hamburger__bar3-clicked {
	transform: rotate(-45deg) translateY(-0.78125rem);
}

.c-hamburger__bar2-clicked {
	opacity: 0;
}

.p-header__bgk {
	background: #0060a0;
	height: 100vh;
	width: 100vw;
}

.p-header__title {
	height: 3.75rem;
}

.p-header__hamburger {
	height: 32px;
	position: absolute;
	right: 1.25rem;
	top: 0.9375rem;
	width: 32px;
}

.p-header__title-logo {
	margin-top: 0.9375rem;
	max-width: 100%;
	width: 15.625rem;
}

.p-header__contact-tel {
	color: #1391e6;
	display: flex;
	font-size: 1.25rem;
	place-items: center;
}

.p-header__contact-time {
	color: #393939;
	font-size: 0.625rem;
}

.p-header__contact-reserve-btn {
	align-items: center;
	background: #1391e6;
	border-radius: 0.5rem;
	display: flex;
	padding: 0.25rem 0.875rem;
}

.p-header__contact-reserve-btn img {
	height: 1.75rem;
	width: 2.875rem;
}

.p-header__btn-text1 {
	display: block;
	font-size: 1rem;
	text-align: center;
}

.p-header__btn-text2 {
	display: block;
	font-size: 0.75rem;
	text-align: center;
}

.p-nav__inner {
	color: #ffffff;
	margin-top: 3.375rem;
}

.p-nav__list {
	padding-inline: 2.5rem;
}

.p-nav__item {
	border-top: 1px dotted #ffffff;
}

.p-nav__item:last-child {
	border-bottom: 1px dotted #ffffff;
}

.p-nav__link {
	display: block;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	position: relative;
}

.p-nav__link::after {
	background: url(../img/icon-right.png) no-repeat center center/cover;
	content: "";
	height: 0.875rem;
	left: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-100%, -50%);
	width: 0.875rem;
}

.p-nav__link img {
	margin-right: 0.875rem;
}

.p-fv__wrap {
	background: url(../img/fv_swiper1_pc.jpg) no-repeat center center/cover;
	border-radius: 8px;
	height: 27.9375rem;
	position: relative;
	width: 100%;
}

.p-fv__wrap::after {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	content: "";
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-fv__text {
	bottom: 2.375rem;
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: 700;
	left: 0;
	letter-spacing: 0.0016em;
	line-height: 2;
	margin-left: 1.25rem;
	position: absolute;
	z-index: 2;
}

.p-fv__text span {
	padding-bottom: 0.125rem;
}

.p-fv__m-time-img {
	margin-top: -1.25rem;
	position: relative;
	z-index: 2;
}

.p-fv__news-title-warp {
	align-items: end;
	display: flex;
	justify-content: space-between;
}

.p-fv__news-title {
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: 0.0016em;
	line-height: 1;
	padding-left: 0.9375rem;
}

.p-fv__news-title-label {
	color: #1391e6;
	font-size: 0.6875rem;
	font-weight: 700;
	letter-spacing: 0.0011em;
	line-height: 1;
	margin-left: 1rem;
}

.p-fv__news-title-text {
	border-bottom: #888888 0.0625rem solid;
	color: #888888;
	font-size: 0.6875rem;
	font-weight: 700;
	letter-spacing: 0.0011em;
	line-height: 1;
}

.p-fv__news-content {
	align-items: center;
	display: flex;
	position: relative;
}

.p-fv__news-content--date {
	font-size: 0.75rem;
	font-weight: 500;
	letter-spacing: 0.001em;
	line-height: 1;
}

.p-fv__news-content--title {
	padding-left: 1.4375rem;
	padding-right: 1.25rem;
}

.p-fv__news-content--title::after {
	background: url(../../img/icon-right.svg) no-repeat center center/cover;
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.u-separate {
	margin-bottom: 24px;
	margin-top: 24px;
}

.u-dashed {
	background-image: linear-gradient(to right, #ffffff, #ffffff 0.1875rem, transparent 0.125rem, transparent 0.375rem);
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 8px 2px;
}

@media screen and (min-width: 1280px) {

body {
	font-size: 16px;
	line-height: 1.6;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (max-width: 767px) {

.u-hidden-sp {
	display: none;
}

}

