@use "../global" as *;

.l-inner {
  padding-inline: rm(20);
  width: 100%;
  max-width: $inner-width;
  margin-inline: auto;
}

.l-inner__fv {
  width: 100%;
  max-width: $inner-width;
  margin-inline: auto;
  @include mq(pc) {
    padding-inline: rm(40);
  }
}
