@use "../global" as *;

.c-concept__content {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: rm(300);
    z-index: -1;
    background: url(../img/concept-bg.png) no-repeat left top/cover;
  }

  @include mq(pc) {
    flex-direction: row;
    &::before {
      background: url(../img/concept-bg.png) no-repeat 30vw top/contain;
      height: rm(726);
    }
  }
}

.c-concept__img {
  order: 2;

  @include mq(pc) {
    order: 1;
    flex: 1;
    width: 100%;
    display: grid;
    align-items: center;
  }
}

.c-concept__text {
  padding-top: rm(100);

  @include mq(pc) {
    order: 2;
    flex: 1;
    padding-top: vw(230);
    padding-bottom: vw(160);
  }
}

.c-concept__text-region {
  @include mq(pc) {
    margin-left: rm(85);
    margin-right: rm(120);
  }
}

.c-concept__btn-wrap {
  text-align: center;
  margin-top: rm(46);
  @include mq(pc) {
    text-align: left;
  }
}

.c-concept__btn {
  position: relative;
  border-radius: 24px;
  border: 1px solid $main-color;
  display: inline-block;
  padding: rm(8) rm(40);
  color: $main-color;
  &::after {
    content: "";
    position: absolute;
    background: url(../img/icon-arrow-blue-btn.png) no-repeat center center/cover;
    top: 50%;
    transform: translateY(-50%);
    right: rm(10);
    width: rm(12);
    height: rm(12);
  }
}
