@use "../global" as *;

.c-hamburger {
  display: flex;
  flex-direction: column;
  gap: rm(6);
  height: inherit;
  justify-content: center;
  align-items: center;
}
.c-hamburger__bar {
  display: block;
  width: rm(28);
  height: rm(3);
  background: $main-color;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}

.c-hamburger__bar1-clicked,
.c-hamburger__bar2-clicked,
.c-hamburger__bar3-clicked {
  background: $color-white;
}

.c-hamburger__bar1-clicked {
  transform: rotate(45deg) translateY(rm(12.5));
}
.c-hamburger__bar3-clicked {
  transform: rotate(-45deg) translateY(rm(-12.5));
}

.c-hamburger__bar2-clicked {
  opacity: 0;
}
