@use "../global" as *;

.c-hamburger {
  display: flex;
  flex-direction: column;
  gap: rm(6);
  height: inherit;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    width: rm(28);
    height: rm(3);
    background: $main-color;
    border-radius: 8px;
  }
}
